*{
    background-color: white;
    
}

.first-block{
    background-color: rgb(229, 121, 230);
    height: 80px;
    width: 50%;
    margin: 20px 60px 20px 500px;
}
.second-block{
    background-color: rgb(225 , 214, 122);
    height: 350px;
    width: 50%;
    margin: 10px 60px 10px 500px;
}
.container-block{
    background-color:rgb(4, 133, 250) ;
    width: 50%;
    margin: 20px 60px 10px 500px;
    height: 450px;
}
.fourth-block{
    background-color:rgb(136, 1, 254);
    height: 50px;
    width: 50%;
    margin: 10px 60px 20px 500px;
}
.container:after{
    content: "";
    display: table;
    clear: both;
}
.top{
    float: left;
    background-color: rgb(171, 207, 231);
    width: 100%;
    height: 70px;
}